<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans    
                        http://www.springframework.org/schema/beans/spring-beans.xsd    
                        http://www.springframework.org/schema/context    
                        http://www.springframework.org/schema/context/spring-context.xsd    
                        http://code.alibabatech.com/schema/dubbo
        				http://code.alibabatech.com/schema/dubbo/dubbo.xsd
                        http://www.springframework.org/schema/mvc    
                        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- Dubbo的应用名称，通常使用项目名即可 -->
	<dubbo:application name="aiyou-service" />

	<!-- 配置Dubbo的注册中心地址 -->
	<dubbo:registry address="zookeeper://192.168.2.238:2181" />

	<!-- 配置Dubbo扫描类，将这个类作为服务进行发布 -->
	<dubbo:annotation package="com.aiyou.service.impl" />

</beans>